.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  font-family: var(--font-family-base);
  color: var(--text-color);
}

.pagination__button {
  background: none;
  color: var(--primary-black);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
}

.pagination__button:hover:not(:disabled),
.pagination__button:focus-visible:not(:disabled) {
  outline: none;
}

.pagination__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination__button.active {
  background-color: var(--primary-yellow);
  color: var(--primary-black);
  font-weight: var(--font-weight-bold);
}

.dark-mode .pagination__button {
    color: var(--primary-white);
}

.dark-mode .pagination__button.active {
    color: var(--primary-black);
}