body, .home {
  background-color: #ffffff;
  color: #000000;
}

.home {
  padding: 1.5rem 2rem;
  max-width: 1800px;
  margin: 0 auto;
}

h1 {
  color: black;
  font-size: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 0 1rem;
}

.error-message {
  color: red;
  margin: 1rem 0;
  font-weight: bold;
  text-align: center;
}

.dark-mode body, 
.dark-mode .home {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.dark-mode h1 {
  color: rgba(255, 255, 255, 0.9);
}

.dark-mode * {
  color: rgba(255, 255, 255, 0.87);
}

@media (min-width: 600px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}