.top-bar {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  line-height: var(--line-height-base);
  padding: 0.5rem 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header {
  background-color: var(--primary-white);
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-semibold);
  padding: 1.5rem 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--font-size-large);
  color: var(--primary-blue);
}

.header__socials a {
  color: var(--primary-gray);
  margin-left: 1rem;
  font-size: var(--font-size-large);
  text-decoration: none;
  transition: color 0.3s ease;
}

.header__socials--twitter,
.header__socials--facebook,
.header__socials--sitemap {
  display: inline-flex;
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--primary-blue);
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: var(--primary-blue);
  font-size: var(--font-size-h5);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  margin-left: 1rem;
}

.header__logo img {
  height: var(--logo-height);
}

.header__socials--sitemap:hover,
.header__socials--sitemap:focus,
.header__socials--twitter:hover,
.header__socials--twitter:focus,
.header__socials--facebook:hover,
.header__socials--facebook:focus {
  color: var(--primary-white);
  border-color: var(--primary-blue);
}

.header__socials a:hover,
.header__socials a:focus {
  color: var(--primary-blue);
  outline: none;
}

/* Modo oscuro */
.dark-mode .top-bar {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
}

.dark-mode .header__socials--sitemap,
.dark-mode .header__socials--twitter,
.dark-mode .header__socials--facebook {
  border-color: var(--primary-white);
  color: var(--primary-white);
}

.dark-mode .header {
  background-color: var(--accent-bg);
  color: var(--text-color);
  border-top: 1px solid var(--primary-white);
  border-bottom: 1px solid var(--primary-white);
}

.dark-mode .header__logo {
  color: var(--primary-white);
}

.dark-mode .header__socials a {
  color: var(--primary-white);
}

.dark-mode .header__socials a:hover,
.dark-mode .header__socials a:focus {
  color: var(--primary-blue);
}

.dark-mode .header__socials--sitemap,
.dark-mode .header__socials--twitter,
.dark-mode .header__socials--facebook {
  border-color: var(--primary-white);
  color: var(--primary-white);
}

.dark-mode .header__socials--sitemap:hover,
.dark-mode .header__socials--sitemap:focus,
.dark-mode .header__socials--twitter:hover,
.dark-mode .header__socials--twitter:focus,
.dark-mode .header__socials--facebook:hover,
.dark-mode .header__socials--facebook:focus {
  color: var(--primary-white);
  border-color: var(--primary-blue);
}
