.navbar {
  width: 100%;
  background-color: var(--primary-light-gray);
  color: var(--primary-black);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 5px solid var(--primary-yellow);
}

.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--primary-white);
}

.dark-mode .navbar__logo img {
  color: var(--primary-white);
  filter: brightness(0) invert(1);
}

.navbar__logo:hover {
  text-decoration: none;
}

.navbar__toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--accent-fg);
  cursor: pointer;
  display: none;
  margin-left: 1rem;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding-left: 0;
  margin: 0;
  flex-direction: row;
}

.navbar__links a {
  color: var(--primary-black);
  text-decoration: none;
  font-weight: 500;
}

.navbar__links a:hover,
.navbar__links a:focus {
  outline: none;
}

.navbar__app-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .navbar__toggle {
    display: block;
    position: absolute;
    top: 0.3rem;
    right: 0rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__links {
    width: 100%;
    flex-direction: column;
    display: none;
    gap: 1rem;
  }

  .navbar__links.open {
    display: flex;
  }
}

.dark-mode .navbar__app-name {
  color: var(--accent-fg);
}

.dark-mode .navbar {
  background-color: var(--primary-light-gray);
  color: var(--primary-white);
  border-bottom: 2px solid var(--primary-yellow);
}

.dark-mode .navbar__logo,
.dark-mode .navbar__links a {
  color: var(--accent-fg);
}

.dark-mode .navbar__links a:hover,
.dark-mode .navbar__links a:focus {
  color: var(--btn-hover-fg);
}

.dark-mode .navbar__toggle {
  color: var(--accent-fg);
}