.navbar {
  background-color: var(--primary-light-gray);
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 5px solid var(--primary-yellow);
  line-height: var(--line-height-base);
}

.navbar__toggle {
  background: none;
  border: none;
  font-size: var(--font-size-large);
  color: var(--primary-black);
  cursor: pointer;
  display: none;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding-left: 0;
  margin: 0;
  flex-direction: row;
  font-family: var(--font-family-base);
}

.navbar__links a {
  color: var(--text-color);
  text-decoration: underline;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
}

.navbar__links a:hover,
.navbar__links a:focus {
  outline: none;
}

@media (max-width: 768px) {
  .navbar__toggle {
    display: block;
    padding: 0rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__links {
    width: 100%;
    flex-direction: column;
    display: none;
    gap: 1rem;
  }

  .navbar__item{
    width: fit-content;
  }

  .navbar__links.open {
    display: flex;
    margin-top: 0.5rem;
  }
}

.dark-mode .navbar {
  background-color: var(--primary-light-gray);
  color: var(--text-color);
  border-bottom: 5px solid var(--primary-yellow);
}

.dark-mode .navbar__links a {
  color: var(--primary-white);
}

.dark-mode .navbar__links a:hover,
.dark-mode .navbar__links a:focus {
  color: var(--btn-hover-fg);
}

.dark-mode .navbar__toggle {
  color: var(--accent-fg);
}