html {
  font-size: var(--font-size-base);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 1.5rem 4rem;
}